.profile-parent{
    height: 8vh;
    // background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background-color: #5ea3e7;
}
.lower-section{
    height: 92vh;
    display: flex;

    .friend-section{
        width: 25%;
        background: #d2d2d2;;
    }

    .chat-section{
        height: calc(100vh - 15vh);
        width: 75%;
        border-left: 1px solid bisque;
        background: #d2d2d2;
    }
}

@media only screen and (max-width: 600px) {
    .friend-section{
        display: none;
    }
    .chat-section{
        width: 100% !important;
        border-left: 0px !important;
    }
 }
 