.ChatArea{
    background-color: #5eb8ff;
    border-radius: 10px;
    margin-top: 10px;
    height: calc(100vh - 21vh);
    position: relative;
    padding: 10px;

    .messages{
        background: #2875b1;
        width: 100%;
        height: calc(100vh - 271px);
        border-radius: 5px;
        overflow: auto;
        .waitConvo{
            text-align: center;
            padding-top: 15%;

            #loader{
                color: #fff;
                font-size: 20px;
            }
        }
    }

    .message-area{
        display: flex;
        position: absolute;
        bottom: 2%;
        width: 93%;

        #sendBtn{
            padding: 15px;
            background: #053154;
            border-radius: 40px;
            margin-left: 10px;
            cursor: pointer;
            color: #fff;
            ;
        }

        .message-text{
            width: 100%;
            background: #fff !important;
            border-radius: 30px;
            .MuiOutlinedInput-notchedOutline{
                border-color: transparent !important;
            }
        }
    }
}