.home-layout{
    min-height: 100vh;
    background-color: #213136;

    .navbar{
        width: 95%;
        margin: auto;
        padding: 10px;
    }

    .chatsection{
        width: 95%;
        margin: auto;
        padding: 0px 10px 10px 10px;
    }
}