.parentMessageArea{
    #noConversations{
        text-align: center;
        // background: #5089b5;
        padding: 25px 0px;
        color: #fff;
        font-size: 20px;
        opacity: 0.55;
    
    }
    .mainMessageBlock{
        overflow: hidden;
        padding: 15px;
        word-break: break-all;

        .messageChunk{
            position: relative;
            padding: 10px;
            background: #b6dbf2;

            .dateBlock{
                position: absolute;
                top: 100%;
                width: 100%;

                .date{
                    font-size: 12px;
                    color: #fff;
                }
            }
        }

        #mR{
            background: #fff;
            text-align: right;
            float: right;
            max-width: 80%;
            min-width: 11%;
            border-radius: 15px 0px 15px 15px;
        }

        .s-pending{
            background: yellow !important;
        }

        #mL{
            min-width: 11%;
            max-width: 80%;
            float: left;
            border-radius: 0px 15px 15px 15px;
        }

        .showFull{
            max-height: auto;
        }

        .showLimited{
            // max-height: 40vh;
        }

        #readMore{
            color: #3a4952;
            cursor: pointer;
        }

        #readMore:hover{
            color: blue;
            text-decoration: underline;
            font-weight: 600 !important;
        }

        // .pending-status{
        //     position: absolute;
        //     color: #fff;
        // }
        // .psr{
        //     right: 100%;
        // }
        // .psl{
        //     left: 100%;
        // }
    }
.isTyping{
    padding: 5px 0px 10px 10px;
    background: #5eb8ff;
    margin-top: 13px;
}

    @media only screen and (max-width: 600px) {
        #mR{
            min-width: 32% !important;
        }

        #mL{
            min-width: 32% !important;
        }
     }
    font-weight: 600;
}