.chatarearender-layout{
    height: calc(100vh - 117px);
    border-radius: 5px;
    background-color: #bee5ff;
    padding: 10px;

    .chatting-area{
        background-image: url('../../../../../../assets/bg-chat.jpg');
        background-color: #c2ccff;
        height: calc(100vh - 180px);
        background-color: #2f4754;
        border-radius: 5px;
        overflow-y: scroll;
        color: #fff;
        position: relative;

        .fixed-date{
            position: fixed;
            left: 40%;
            z-index: 1;
            padding: 10px;
            margin-left: 17%;
            background-color: #4151ff;
            margin-top: 10px;
            border-radius: 5px;
        }

        .chatarea{
            padding: 0 30px;

            .chatarea--when{
                margin: auto;
                text-align: center;
                margin: 15px auto;
                .c-when{
                    width: 12%;
                    margin: auto;
                    color: #fff;
                    padding: 5px 10px;
                    border-radius: 10px;
                    font-weight: bold;

                    //@at-root
                }
                .c-when__hide{
                    opacity: 0;
                }
                .c-when-free{
                    z-index: 999;
                    background: #fff;
                    position: fixed;
                    padding: 5px 10px;
                    color: #000;
                    border-radius: 10px;
                }
            }
           
             .chatarea-type__left{
                text-align: left; 
                width: 65%;
            }

            .chatarea-type__right{
                margin-left: 35%;
                text-align: left;
            }

            .chat-chunk{
                position: relative;
                background: black;
                border-radius: 10px;
                padding: 15px;
                margin-bottom: 2px;
                position: relative;

                .chat--readmore{
                    color: #39ffc1;
                    cursor: pointer;
                }

                .chat--time{
                    position: absolute;
                    right: 5px;
                    font-size: 12px;
                    opacity: .75;
                    bottom: 3px;
                }
            }

            .c-tip{
                color : #000;
                position: absolute;
                top: 0;

            }

            svg{
                width: 20px;
                height: 20px;
            }
            
            .c-tip-left{
                left: -8px;
            }

            .c-tip-right{
                right: -8px;
                
                svg{
                    transform: rotateY(180deg);
                }
            }

            .chat-mg-t{
                margin-top: 15px;
            }
        }
    }

    .fullmessage-parent{
        .MuiDialog-paperWidthSm{
            width: 50%;
            height: 60% !important;
            border-radius: 10px;
        }
    }


    .submit-message{
        display: flex;
        margin-top: 10px;

        .send-icon{
            background-color: #001f78;
            padding: 16px;
            border-radius: 100%;
            color: #fff;
            margin-left: 10px;
            cursor: pointer;
        }

        .message-inp{
            width: 100%;
        }
    }
}
@media only screen and (max-width: 700px) {
    .chatarea-type__left{
        width: 85% !important;
    }

    .chatarea-type__right{
        margin-left: 15% !important;
    }

    .fixed-date{
        margin-left: 0% !important;
    }

}