.navrender-layout{
    display: flex;
    padding: 5px;
    border-radius: 10px;
    background-color: #bee5ff;
    border-radius: 5px;
    text-align: center;

    #myprof-img{
        border-radius: 100%; 
        cursor: pointer;
        box-shadow: 7px 9px 8px -6px #888888;
    }

    .nav-btns{
        width: 25%;
        position: relative;
        cursor: pointer;
        color: #555;
        margin: auto;
        padding: 15px 0px;

        #nav-text{  
            font-size: 17px;
            font-weight: 500;
        }
    }
    .nav-btns:hover{
        background-color: #2f4754;
        color: #fff !important;
        border-radius: 5px;
    }

    .navB{
        margin-right: 10px;
    }
}

.FriendDrawer{
    display: none;

    .MuiDrawer-modal{
        width: 40% !important;
    }
}

@media only screen and (max-width: 700px) {
    .nav-icon{
        display: none !important;
    }
    .FriendDrawer{
        display: block;
    }
    #nav-text{
        font-size: 12px !important;
    }  
}