.head-friend{
    padding: 30px;
    text-align: center;

    .search-friends{
        padding: 0px 0px 10px 0px;
    }
    
    .searchInp{
        width: 56vh !important;
    }
    
    .f-w-500{
        font-weight: 500;
    }
    
    .search-inProgress{
        padding: 10px 0px 0px 0px;
    }

    .pagination {
        display: inline-table;
    }
    .scroll-user{
        max-height: 40vh;
        overflow: auto;
    }

    .no-users-name{
        font-size: 17px;
        font-weight: 500;
    }

    .user-block{
        padding: 15px;
        border: 1px solid;
        border-radius: 5px;
        color: #fff;
        background: #404045;
        height: 25px;

        #user-block{
            // display: flex;

            #user-username{
                float: left;
                font-weight: 400;
                font-size: 19px;
                cursor: pointer;
            }

            #user-image{
                float: left;
                padding: 0px 9px 0px 0px;

                #user-img{
                    width: 30px;
                    border-radius: 50%;
                    height: 30px;
                }
            }

            #user-add{
                float: right;
                // cursor: pointer;
                // position: absolute;
                // right: 15%;
            }
        }
    }
}

    
.close-friends-dialog{
    position: absolute;
    right: 10px;
    font-weight: 600;
    cursor: pointer;
    font-size: 19px;
}

.p-evt-none{
    pointer-events: none;
}

.c-p{
    cursor: pointer !important;
}

#circularProgress{
    width: 20px;
    height: 20px;
    color : '#fff'
}

.p-r-20{
    padding: 0px 20px 0px 0px;
}

@media only screen and (max-width: 600px) {
    .head-friend {
        .searchInp{
            width: 34vh !important
        }
    }
}