.ProfileChatArea{
    padding: 10px;
    background: #0062a1;
    min-height: calc(150% - 352px);
    
    .profile-chat-area{

    }

    .profile-modal{
        background-color: #98cce4;
        border-radius: 2px;
        padding: 10px;
        margin-top: 10px;
        height: 62.1vh;
        border-radius: 5px;
    }
}