.ChatFriendsRender{

    .search-friends{
        padding-bottom: 10px;

        p{
            padding: 5px 0;
            font-size: 1.2rem;
        }

        input{
            width: calc(100% - 35px);
            padding: 10px;
            border: 1px solid #888;
            border-radius: 3.5px;
            font-size: 1.2rem;
            padding-right: 20px;
        }

        .search-chat-bar{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .search-input{
            position: relative;

            .close-btn{
                position: absolute;
                top: .55rem;
                right: .8rem;
                font-size: 19px;
                font-family: monospace;
                color: #888;
                cursor: pointer;

                &:hover{
                    color: rgb(0, 0, 0);
                }
            }
        }
    }

    .chat-friends-circle{
        overflow: auto;
        max-height: calc(100vh - 210px);

        .friend-circle{
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            grid-gap: 10px;
            gap: 10px;
            padding: 5px;
            background-color: #001a777d;
            color: #FFF;
            border-radius: 3.5px;
            cursor: pointer;
            transition: .35s;
            font-size: 1.234rem;
            position: relative;
            height: 4rem;

            img{
                border-radius: 100%;
                pointer-events: none;
            }

            &:hover{
                transition: .35s;
                background-color: #001a7794;
                box-shadow: 1px 1px 4px 3px #888;
            }

            .new-messagecount{
                position: absolute;
                top: 10px;
                right: 10px;
                padding: 2px 7px;
                background: #000;
                border-radius: 100px;
                font-size: 15px;
                font-weight: bold;
            }
        }
        p:nth-child(1){
            font-size: 1.45rem;
        }
        .friend-image{
            display: flex;
        }
        .friend-name{
            .friend__message{
                font-size: .7rem;
                max-width: 15vw;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-family: sans-serif;
            }
            .friend__message-active{
                font-weight: bold;
            }
        }

        .f-c-selected{
            transition: .35s;
            background-color: #001a77ef !important;
            box-shadow: 1px 1px 4px 3px #888;
            padding: 5px 10px;
        }

        .loading-friends{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: 40px 0px;
            gap: 10px;
            height: calc(100vh - 350px);

            img{
                width: 100px;
                height: 100px;
            }
        }
    }
}