.user-profile-parent{
    background: #4f4b4b;
    color: #fff;
    position: relative;

    .close{
        right: 10px;
        position: absolute;
        cursor: pointer;
        font-weight: 600;
    }

    .user-outer{
        padding: 30px;
        text-align: center;

        .user-profile-image{
            #profile-image{
                width: 70px;
                height: 70px;
                border-radius: 100%;
            }

            .default-pic{
                width: 50px;
                height: 50px;
                margin: 0 auto;
                background: #fff;
                color: #000;
                border-radius: 100%;

                .s-name{
                    padding-top: 8px;
                    font-size: 23px;
                    font-weight: 500;
                }
            }
        }
    }

    .p-b-10{
        padding-bottom: 10px;
    }

    .standard-text{
        font-weight: 400;
        font-size: 20px;
    }

    .btn-layout{
        margin-top: 10px;
        .send{
            border: 1px solid;
            padding: 5px 15px 5px 15px;
            border-radius: 5px;
            cursor: pointer;
            font-weight: 500;
            font-size: large;
        }
    }
}


.send:hover{
    color: #000;
    background: greenyellow;
    border: none !important;
}
.revoke:hover{
    color: #fff;
    background: red;
}

.m-r-10{
    margin-right: 23px;
}