.profile-layout{
    background: #dfe9ff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    #heading{
        text-align: center;
        // transform: translateY(10vh);
        padding-bottom: 20px;
        font-weight: 600;
        font-family: sans-serif;
        font-size: 35px;
    }

    .profile{
        width: 500px;
        text-align: center;
        background-color: #fff;
        border-radius: 7.5px;

        .profile-form{
            padding: 20px;
            box-shadow: 0px 1px 5px 1px #888;
            border-radius: 10px;

            .profile-img{
                position: relative;

                .remove-img{
                    top: 0px;
                    position: absolute;
                    left: 100%;
                    font-weight: bold;
                    cursor: pointer;
                    font-family: monospace;
                    font-size: 18px;
                }

                img{
                    cursor: pointer;
                    border-radius: 100%;
                }
            }

            .form-inp{
                padding: 20px 0px;

                .input-text{
                    width: 100%;
                }

                #inp-text{
                    font-size: 16px;
                    font-weight: 500;
                    text-align: left;
                    padding: 14px 0px;
                }
            }
        }

        .submit-profile{
            padding: 15px 0;

            .submit-profile__loader{
                color: #39aeff;
            }
        }

        Button{
            width: 100% !important;
            height: 50px !important;
            font-size: 17px;
            font-weight: bold;
        }
    }

    p{
        margin: 0;
    }
}


@media only screen and (max-width: 610px) {
    .profile{
        width: 90% !important;
    }
}